<div
  class="d-flex flex-wrap align-items-top justify-content-center justify-content-md-between p-1 oneMonth">

  <div class="col-md-6">
    <ul>
      <div
        *ngFor="let menu of menus"
        (mouseenter)="mouseEnter(menu)"
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-1 oneMenu">
        <div class="col-md-11">
          {{menu.level}}
        </div>
        <div class="col-md-1 icon"
             [routerLink]="['/dashboard/menu_settings/menu_item/'+menu.level]"
        >
          <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        </div>
      </div>
    </ul>


  </div>

  <div class="col-md-6">
    <app-menu-item-preview
      [menu]="activeMenu"
    >

    </app-menu-item-preview>
  </div>
</div>


