<mat-form-field>
  <mat-label>Поиск</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="строка для поиска" #input>
</mat-form-field>

<table mat-table
       [dataSource]="dataSource"
       class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> День</th>
    <td
      [ngClass]="{weekEnd:isWeekEndDay(element.data)}"
      mat-cell *matCellDef="let element"
    >
      {{element.data}}
    </td>
  </ng-container>


  <ng-container matColumnDef="ice_time">
    <th mat-header-cell *matHeaderCellDef> Время льда</th>
    <td
      [ngClass]="{changed:dataForChanging[element.id]['ice_time']===false}"
      mat-cell
      *matCellDef="let element"
      (click)="setInputIce($event,element.id)">

      <mat-form-field class="no-paddings" *ngIf="!ice_time[element.id]" floatLabel="never">
        <input matInput
               [textMask]="{mask: timeIntervalMask}"
               placeholder="Время льда"
               [value]="element.ice_time"
               [(ngModel)]="element.ice_time"
               (ngModelChange)="onElementChange(element.id)"
               (keydown)="setEndOfTextIce($event, element.id)"
               type="text">
      </mat-form-field>
      <span *ngIf="ice_time[element.id]">{{element.ice_time}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="ice_place">
    <th mat-header-cell *matHeaderCellDef> Место льда</th>
    <td
      [ngClass]="{changed:dataForChanging[element.id]['ice_place']===false}"
      mat-cell
      *matCellDef="let element"
      (click)="setIcePlace($event,element.id)">
      <mat-form-field class="no-paddings" *ngIf="!ice_place[element.id]" floatLabel="never">
        <mat-select [value]="element.ice_place" [(ngModel)]="element.ice_place"
                    (ngModelChange)="onElementChange(element.id)" placeholder="Место льда">
          <mat-option value="Палац спорту">Палац спорту</mat-option>
          <mat-option value="Салтівський лід">Салтівський лід</mat-option>
          <mat-option>None</mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="ice_place[element.id]">{{element.ice_place}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="ice_gathering_time">
    <th mat-header-cell *matHeaderCellDef> Время сбора лед</th>
    <td
      [ngClass]="{changed:dataForChanging[element.id]['ice_gathering_time']===false}"
      mat-cell
      *matCellDef="let element"
      (click)="setInputIceGatheringTime($event,element.id)">
      <mat-form-field class="no-paddings" *ngIf="!ice_gathering_time[element.id]" floatLabel="never">
        <input matInput
               [textMask]="{mask: timemask}"
               placeholder="Время сбора лед"
               [value]="element.ice_gathering_time"
               [(ngModel)]="element.ice_gathering_time"
               (ngModelChange)="onElementChange(element.id)"
               (keydown)="setEndOfTextIceGatheringTime($event, element.id)">

      </mat-form-field>
      <span *ngIf="ice_gathering_time[element.id]">{{element.ice_gathering_time}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="ground_time">
    <th mat-header-cell *matHeaderCellDef> Время земли</th>
    <td
      [ngClass]="{changed:dataForChanging[element.id]['ground_time']===false}"
      mat-cell
      *matCellDef="let element"
      (click)="setInputGround($event,element.id)">
      <mat-form-field class="no-paddings" *ngIf="!ground_time[element.id]" floatLabel="never">
        <input matInput
               [textMask]="{mask: timeIntervalMask}"
               placeholder="Время земли"
               [value]="element.ground_time"
               [(ngModel)]="element.ground_time"
               (ngModelChange)="onElementChange(element.id)"
               (keydown)="setEndOfTextGround($event, element.id)">

      </mat-form-field>
      <span *ngIf="ground_time[element.id]">{{element.ground_time}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="ground_place">
    <th mat-header-cell *matHeaderCellDef> Место земли</th>
    <td
      [ngClass]="{changed:dataForChanging[element.id]['ground_place']===false}"
      mat-cell
      *matCellDef="let element"
      (click)="setGroundPlace($event,element.id)">
      <mat-form-field class="no-paddings" *ngIf="!ground_place[element.id]" floatLabel="never">
        <mat-select [value]="element.ice_place" [(ngModel)]="element.ground_place"
                    (ngModelChange)="onElementChange(element.id)" placeholder="Место земли">
          <mat-option value="Манеж">Манеж</mat-option>
          <mat-option value="Кидковий центр">Кидковий центр</mat-option>
          <mat-option>None</mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="ground_place[element.id]">{{element.ground_place}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="ground_gathering_time">
    <th mat-header-cell *matHeaderCellDef> Время сбора земля</th>
    <td
      [ngClass]="{changed:dataForChanging[element.id]['ground_gathering_time']===false}"
      mat-cell
      *matCellDef="let element"
      (click)="setInputGroundGatheringTime($event,element.id)">
      <mat-form-field class="no-paddings" *ngIf="!ground_gathering_time[element.id]" floatLabel="never">
        <input matInput
               [textMask]="{mask: timemask}"
               placeholder="Время земли"
               [value]="element.ground_gathering_time"
               [(ngModel)]="element.ground_gathering_time"
               (ngModelChange)="onElementChange(element.id)"
               (keydown)="setEndOfTextGroundGatheringTime($event, element.id)">

      </mat-form-field>
      <span *ngIf="ground_gathering_time[element.id]">{{element.ground_gathering_time}}</span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!--<mat-form-field class="no-paddings">-->
<!--  <input matInput [textMask]="{mask: datemask}" [(ngModel)]="myModel" placeholder="Type a date" value="01/03/2019">-->
<!--</mat-form-field>-->
<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
