<div *ngIf="!isButtonSelected">
  <div class="col-md-12 text-center">
    Кнорка не выбрана
  </div>
</div>
<div *ngIf="isButtonSelected"
     class="container">
  <app-menu-button-property-edit
    [name]="'columns'"
    [value]="columns"
  >
  </app-menu-button-property-edit>
  <app-menu-button-property-edit
    [name]="'rows'"
    [value]="rows"
  >
  </app-menu-button-property-edit>
  <app-menu-button-property-edit
    [name]="'bgColor'"
    [value]="bgColor"
  >
  </app-menu-button-property-edit>
  <app-menu-button-property-edit
    [name]="'text'"
    [value]="text"
  >
  </app-menu-button-property-edit>
  <app-menu-button-property-edit
    [name]="'textSize'"
    [value]="textSize"
  >
  </app-menu-button-property-edit>
  <app-menu-button-property-edit
    [name]="'actionType'"
    [value]="actionType"
  >
  </app-menu-button-property-edit>
  <app-menu-button-property-edit
    [name]="'actionBody'"
    [value]="actionBody"
    (newValue)="onChangeProperty($event, 'ActionBody')"
  >
  </app-menu-button-property-edit>


  <button class="col-md-6 btn btn-primary mt-2">Сохранить</button>
  <button class="col-md-6 btn btn-warning mt-2">Отменить</button>

</div>
