<div *ngIf="!isButtonSelected">
  <div class="col-md-12 text-center">
    Кнорка не выбрана
  </div>
</div>
<div *ngIf="isButtonSelected"
     class="container">
  <app-menu-button-input-property-edit
    [name]="'text'"
    [value]="text"
    [valueOld]="textOld"
    [isInputDisable]="false"
    (newValue)="onChangeProperty($event, 'Text')"
  >
  </app-menu-button-input-property-edit>

  <app-menu-button-input-property-edit
    [name]="'bgColor'"
    [value]="bgColor"
    [valueOld]="bgColorOld"
    [isInputDisable]="false"
    (newValue)="onChangeProperty($event, 'BgColor')"
  >
  </app-menu-button-input-property-edit>

  <app-menu-button-select-property-edit
    [name]="'textSize'"
    [value]="textSize"
    [valueOld]="textSizeOld"
    [isInputDisable]="false"
    (newValue)="onChangeProperty($event, 'TextSize')"
    [selectList]="['small', 'large']"
  >
  </app-menu-button-select-property-edit>

  <app-menu-button-select-property-edit
    [name]="'actionType'"
    [value]="actionType"
    [valueOld]="actionTypeOld"
    [isInputDisable]="false"
    (newValue)="onChangeProperty($event, 'ActionType')"
    [selectList]="['reply', 'open-url']"
  >
  </app-menu-button-select-property-edit>

  <app-menu-button-input-property-edit
    [name]="'actionBody'"
    [value]="actionBody"
    [valueOld]="actionBodyOld"
    [isInputDisable]="false"
    (newValue)="onChangeProperty($event, 'ActionBody')"
  >
  </app-menu-button-input-property-edit>

  <app-menu-button-input-property-edit
    [name]="'columns'"
    [value]="columns"
    [valueOld]="columnsOld"
    [isInputDisable]="true"
    (newValue)="onChangeProperty($event, 'Columns')"
  >
  </app-menu-button-input-property-edit>

  <app-menu-button-input-property-edit
    [name]="'rows'"
    [value]="rows"
    [valueOld]="rowsOld"
    [isInputDisable]="true"
    (newValue)="onChangeProperty($event, 'Rows')"
  >
  </app-menu-button-input-property-edit>

  <div class="row">
    <button
      class="col-md-5 btn btn-primary mt-2"
      (click)="saveMenuChanges()"
    >
      Сохранить
    </button>

    <div class="col-md-2 mt-2"></div>

    <button
      class="col-md-5 btn btn-warning mt-2"
      (click)="clearMenuChanges()"
    >Отменить
    </button>
  </div>

</div>
