.disableTd {
  display: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px 5px;
}

.border_hover:hover {
  opacity: .8;
  cursor: pointer;
}

.activeButton {
  border: 3px solid #46a35e;
}
