<div class="row">
  <div class="col-md-4">{{name}}</div>
  <div
    (click)="setInput($event,value)"
    [ngClass]="{changed:isChanged}"
  >
    <div *ngIf="!isInput" class="col-md-8 property">{{value}}</div>
    <input *ngIf="isInput" class="col-md-8 property"
           [value]="value"
           [(ngModel)]="value"
           (ngModelChange)="onElementChange(value)"
           (keydown)="setEndOfText($event)"
           (blur)="blur($event)"
           (focusout)="blur($event)"
           #input
    >
  </div>
</div>
